.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f6f8;
}

.auth-box {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  /* width: px; */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 10px;
  color: #333;
}

.auth-box p {
  font-size: 14px;
  color: #777;
}

.auth-box form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.auth-box input {
  margin-bottom: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-box button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.auth-box button:hover {
  background-color: #0056b3;
}

.auth-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}
